@model IEnumerable<AuthSystem.Models.MetodoPago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear un nuevo metodo de pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idMetodoPago">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.idMetodoPago">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.idMetodoPago">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


